

body{
	
	margin:0;
	padding:0;
}
img{
	/*border:none;*/
	max-width:400%;
	
	
}


.box{
	
	float:left;
	margin:5px 0.5%;
	padding:10px 1% 15px;
	position:relative;
	z-index:5;	
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	
	transition: background-color 1s, box-shadow 1s, transform 0.5s;
	-moz-transition: background-color 1s, -moz-box-shadow 1s, -moz-transform 0.5s;
	-webkit-transition: background-color 1s, -webkit-box-shadow 1s, -webkit-transform 0.5s;
	-o-transition: background-color 1s, -o-box-shadow 1s, -o-transform 0.5s;
}
.box:hover{

	z-index:10;
	
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	transition: transform 3s; 
	-webkit-transform: scale(2.5);
}
.box-1 { max-width:24%; }
.box-2 { max-width:24%; }
.box-3 { max-width:24%; }

